<div class="multiselect-widget" >
    <div class="choices" data-bind="click: setFocus">
        <div class="current-selection">
            <ul class="tags-holder" data-bind="foreach: selection">
                <li class="tag-item">
                    <span data-bind="text:$parent.getOptionLabel($data)" ></span>
                    <button data-bind="click:$parent.unselectOption"  type="button" class="remove-btn">Remove item</button>
                </li>
            </ul>
            <input data-bind="textInput: searchterm, hasFocus: searchHasFocus, event: { keydown: handleKeydown }" type="search" name="search_terms" class="searchterm" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" placeholder="{{placholderLabel}}">
        </div>
        <div class="options-dropdown" aria-expanded="false" data-bind="visible:componentIsActive">
            <ul data-bind="foreach: filteredOptions">
                <li class="options-item" data-bind="text:$parent.getOptionLabel($data), click:$parent.selectOption, css: { selected: $parent.highlightedOption() == $data }"> </li>
            </ul>
        </div>
    </div>
</div>