
<form class="ko-formengine-form form-horizontal" enctype="multipart/form-data">
    <!-- ko foreach:{data:form.formRows, as:'row'} -->
    <div class="row">
        <!-- ko foreach:row -->

        <!-- ko if:$data.width=="hidden"-->
        <ko-formengine-field params="inputfield:$data.inputfield, hidden:true"></ko-formengine-field>
        <!-- /ko -->

        <!-- ko if:$data.width != "hidden"-->
        <div class="{{ 'col-md-'+$data.width }}">
            <ko-formengine-field params="inputfield:$data.inputfield"></ko-formengine-field>
        </div>
        <!-- /ko -->

        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <!-- ko if:afterCancel --><input type="button" class="btn btn-default" value="{{  kopa.translate(form_cancel_label) }}" data-bind="click:cancel"><!-- /ko -->
        </div>
        <div class="col-md-3">
            <input type="button" class="btn btn-primary" value="{{ kopa.translate(form_submit_label) }}" data-bind="click:submit">
        </div>
    </div>

</form>
