
<form class="form-horizontal" enctype="multipart/form-data">
    <!-- ko foreach:{data:formRows, as:'row'} -->
    <div class="row">
        <!-- ko foreach:row -->
        <div class="{{ 'col-md-'+$data.width }}">
            <ko-formengine-field params="fielddef:$data.field, source:$component.source"></ko-formengine-field>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <input type="button" value="{{ 'form-submit' }}" data-bind="click:submit">
        </div>
    </div>
</form>
