<div class="uploadfield-widget" >
    <div class="input-append">
        <div class="uneditable-input">
            <!-- ko if:multiple -->
                <input type="file" class="invisible" id="{{uniqueName}}" name="{{uniqueName}}[]" multiple />
            <!-- /ko -->
            <!-- ko if:!multiple -->
                <input type="file" class="invisible" id="{{uniqueName}}" name="{{uniqueName}}"  />
            <!-- /ko -->
            <input type="text" data-bind="textInput:filelist" value="" class="form-control readonly" readonly>
        </div>
        <span class="btn btn-default btn-file">
            <span class="fileupload-new" data-bind="click:addFile">Select file</span>
            <span class="fileupload-exists" data-bind="click:addFile">Change</span>
        </span>
        <a href="#" class="btn btn-default fileupload-exists" data-bind="click:removeFiles" >Remove</a>
    </div>
</div>
