<!-- ko if:hidden -->
<input class="form-control" type="hidden" data-bind="textInput: inputfield.value" />
<!-- /ko -->

<!-- ko if:!hidden -->
<div class="form-group " data-bind="css:calculateCssClass()">

    <!-- ko if:inputfield.getFieldDefinition().label && showLabels -->
    <label for="{{inputfield.id}}" data-bind="css:fieldlabelclass">
        {{{ inputfield.getFieldDefinition().label | translate }}}
    </label>

    <!-- ko if: inputfield.getFieldDefinition().popover -->
    <info-popover params="slug:'popover_'+inputfield.getFieldDefinition().popover"></info-popover>
    <!-- /ko -->

    <!-- ko if: inputfield.getFieldDefinition().info -->
    <small>{{ 'popover_'+inputfield.getFieldDefinition().info+'_copy' | translate }}</small>
    <!-- /ko -->

    <!-- /ko -->

    <!-- ko if: inputfield.type=="input" -->
    <input id="{{inputfield.id}}" class="form-control" type="{{inputfield.keyboardtype}}" data-bind="
                textInput: inputfield.value,
                attr: { placeholder: inputfield.getFieldDefinition().placeholder, tabindex:tabindex },
                hasFocus: inputfield.getFieldDefinition().hasFocus,
                event: {blur: inputfield.validateOnlyIfValue }"/>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="password" -->
    <input id="{{inputfield.id}}" class="form-control" type="password" data-bind="textInput: inputfield.value, attr:{tabindex:tabindex}" />
    <!-- /ko -->

    <!-- ko if: inputfield.type=="date" -->
    <div class='input-group date' >
        <input id="{{inputfield.id}}"  type='text' class="form-control" data-bind="dateTimePicker: inputfield.value, dateTimePickerOptions: {locale: 'de', format: 'DD.MM.YYYY', minDate:inputfield.getFieldDefinition().minDate, maxDate:inputfield.getFieldDefinition().maxDate}"/>
        <span class="input-group-addon" data-bind="click:handleCalendarIconClick">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="datetime" -->
    <div class='input-group date' >
        <input id="{{inputfield.id}}"  type='text' class="form-control" data-bind="dateTimePicker: inputfield.value, dateTimePickerOptions: {locale: 'de', format: 'DD.MM.YYYY hh:mm', minDate:inputfield.getFieldDefinition().minDate, maxDate:inputfield.getFieldDefinition().maxDate}"/>
        <span class="input-group-addon" data-bind="click:handleCalendarIconClick">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="time" -->
    <div class='input-group date' >
        <input id="{{inputfield.id}}"  type='text' class="form-control" data-bind="dateTimePicker: inputfield.value, dateTimePickerOptions: {locale: 'de', format: 'hh:mm'}"/>
        <span class="input-group-addon" data-bind="click:handleCalendarIconClick">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="select" -->
        <!-- ko if: inputfield.selectMultiple == true -->
        <select id="{{inputfield.id}}" class="form-control" name="{{inputfield.getFieldDefinition().label}}" data-bind="
                    options:inputfield.getFieldDefinition().options,
                    optionsText:inputfield.getFieldDefinition().optionsText,
                    selectedOptions:inputfield.value,
                    optionsCaption:window.kopa.translate(inputfield.getFieldDefinition().optionscaption),
                    attr: { tabindex:tabindex, size:inputfield.selectSize, multiple:inputfield.selectMultiple }">
        </select>
        <!-- /ko -->

        <!-- ko if: !inputfield.selectMultiple -->
        <select id="{{inputfield.id}}" class="form-control" name="{{inputfield.getFieldDefinition().label}}" data-bind="
                    options:inputfield.getFieldDefinition().options,
                    optionsText:inputfield.getFieldDefinition().optionsText,
                    optionsValue:inputfield.getFieldDefinition().optionsValue,
                    value:inputfield.value,
                    optionsCaption:window.kopa.translate(inputfield.getFieldDefinition().optionscaption),
                    attr: { tabindex:tabindex }">
        </select>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: inputfield.type=="select2" -->
    <select data-bind="
            value: inputfield.select2Obs,
            select2: {
                selectedOption: inputfield.value,
                options:inputfield.getFieldDefinition().options,
                optionsText:inputfield.getFieldDefinition().optionsText,
                optionsValue:inputfield.getFieldDefinition().optionsValue,
                optionscaption: window.kopa.translate(inputfield.getFieldDefinition().optionscaption),
                allowClear: false
            },
            css:{error:!inputfield.isValid()},
            attr: { tabindex:tabindex }"
            id="{{inputfield.id}}" style="width: 100%" class="form-control" name="{{inputfield.getFieldDefinition().label}}">
        <option></option>
    </select>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="radio" -->
    <div class="clearfix">
        <!-- ko foreach: inputfield.getFieldDefinition().options -->
        <label  class="radio-inline" data-bind="attr: {for:$component.calculateInputId($data.label)}, css:{error:!$parent.inputfield.isValid()}">
            <input  type="radio" name="{{$parent.inputfield.id}}" value="{{$data.value}}" data-bind="checked: $parent.inputfield.value, attr: { id:$component.calculateInputId($data.label), tabindex:$parent.tabindex }">
            {{ $data.label | translate }}
        </label>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="checkbox" -->
        <!-- ko if: inputfield.getFieldDefinition().selectDeselectAll -->
        <div class="toggleall">
            <p data-bind="click:function(){$component.toggleall(inputfield);}">Toggle all</p>
        </div>
        <!-- /ko -->

        <div class="clearfix">

            <!-- ko foreach: inputfield.getFieldDefinition().options -->
            <div class="checkbox">
                <label data-bind="attr: {for:$component.calculateInputId($data)}, css:{error:!$parent.inputfield.isValid()}">
                    <input type="checkbox" name="{{$parent.inputfield.id}}" value="{{$data}}" data-bind="checked: $parent.inputfield.value, attr: { id:$component.calculateInputId($data), tabindex:$parent.tabindex }">
                    {{{ $parent.inputfield.getFieldDefinition().labelprefix+$data | translate }}}
                    <!-- ko if: $parent.inputfield.getFieldDefinition().popover -->
                    <info-popover params="slug:'popover_'+$parent.inputfield.getFieldDefinition().popover"></info-popover>
                    <!-- /ko -->

                </label>
            </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="text" -->
    <textarea id="{{inputfield.id}}" class="form-control" rows="3" data-bind="textInput: inputfield.value, attr: { tabindex:tabindex }"></textarea>
    <!-- /ko -->

    <!-- ko if: inputfield.type=="file" -->
        <!-- ko if: inputfield.getCurrentValue() -->
            <span>{{ inputfield.getCurrentValue() }}</span>
            &nbsp;&nbsp;
            <button data-bind="click: function(){ $component.removeFile($data); }" title="delete document" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash">remove</span>
            </button>

            <button data-bind="click: function(){ $component.downloadFile($data) }" title="download document" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-download-alt">download</span>
            </button>
        <!-- /ko -->

        <!-- ko if: !inputfield.getCurrentValue() -->
            <ko-formengine-fileupload params="inputfield:inputfield"></ko-formengine-fileupload>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: inputfield.type=="component" -->
        <!-- ko component: { name:inputfield.fielddef.componentName, params:{inputfield:inputfield, source:source} } --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: errors() != "" -->
    <!-- ko if:!useInlineErrors() --><small title="{{ errors }}" class="errorindicator error-msg">{{{ errors }}}</small><!-- /ko -->
    <!-- ko if:useInlineErrors() --><span class="errorindicator inlineerror" data-bind="popover: errors,placement:'top'"><i class="glyphicon glyphicon-warning-sign"></i></span><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->