.form-group {
  margin-bottom: 30px;
  position: relative;
}
.form-control {
  height: 50px;
  box-shadow: none;
  border-radius: 0;
  border-color: #cccccc;
  font-size: 16px;
}
label {
  font-size: 16px;
  margin-bottom: 8px;
}
label.required:after {
  content: '*';
}
.error .form-control,
.ko-formengine-field.type-select2.error .select2-container--default .select2-selection--single,
.ko-formengine-field.type-date.error .input-group-addon {
  border-color: #d53b0a;
  background-color: #fee7e0;
}
label.error {
  color: #d53b0a;
}
small.error-msg {
  position: absolute;
  top: 85px;
  color: #d53b0a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.ko-formengine-field.type-text.error small.error-msg {
  top: 115px;
}
.ko-formengine-field.hasLabelInfo.error small.error-msg,
.ko-formengine-field.type-radio.error small.error-msg,
.ko-formengine-field.type-checkbox.error small.error-msg {
  position: static;
  margin-top: 5px;
}
