<!-- ko if:hidden -->
    <input class="form-control" type="hidden" data-bind="textInput: value" />
<!-- /ko -->

<!-- ko if:!hidden -->
    <div class="form-group">
        <!-- ko if:fielddef.label -->
        <label for="">
            {{ fielddef.label | translate }}
            <!-- ko if: fielddef.popover -->
            <info-popover params="slug:'popover_'+fielddef.popover"></info-popover>
            <!-- /ko -->
        </label>
        <!-- /ko -->

        <!-- ko if: fielddef.type=="input" -->
        <input class="form-control" type="text" data-bind="
                textInput: value,
                css:{error:!isValid()},
                attr: { placeholder: fielddef.placeholder, tabindex:tabindex },
                hasFocus: fielddef.hasFocus,
                event: {blur: fielddef.validate }"/>
        <!-- /ko -->

        <!-- ko if: fielddef.type=="password" -->
        <input class="form-control" type="password" data-bind="textInput: value, css:{error:!isValid()}, attr:{tabindex:tabindex}" />
        <!-- /ko -->

        <!-- ko if: fielddef.type=="date" -->
        <div class='input-group date' >
            <input type='text' class="form-control" data-bind="css:{error:!isValid()}, dateTimePicker: value, dateTimePickerOptions: {locale: 'de', format: 'DD.MM.YYYY', minDate:fielddef.minDate, maxDate:fielddef.maxDate}"/>
            <span class="input-group-addon" data-bind="click:handleCalendarIconClick">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <!-- /ko -->

        <!-- ko if: fielddef.type=="select" -->
        <select class="form-control" name="{{fielddef.label}}" data-bind="
            options:fielddef.options,
            optionsText:fielddef.optionsText,
            optionsValue:fielddef.optionsValue,
            value:value,
            optionsCaption:window.kopa.translate(fielddef.optionscaption),
            css:{error:!isValid()},
            attr: { tabindex:tabindex }">
        </select>
        <!-- /ko -->

        <!-- ko if: fielddef.type=="radio" -->
        <br>
        <!-- ko foreach: fielddef.options -->
        <label class="radio-inline" data-bind="css:{error:!$parent.isValid()}">
            <input type="radio" name="{{$parent.fielddef.label}}" value="{{$data.value}}" data-bind="checked: $parent.value, attr: { tabindex:$parent.tabindex }">
            {{ $data.label | translate }}
        </label>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: fielddef.type=="checkbox" -->
        <!-- ko foreach: fielddef.options -->
        <div class="checkbox">
            <label data-bind="css:{error:!$parent.isValid()}">
                <input type="checkbox" name="{{$parent.fielddef.label}}" value="{{$data}}" data-bind="checked: $parent.value, attr: { tabindex:$parent.tabindex }">
                {{ $parent.fielddef.labelprefix+$data | translate }}

                <!-- ko if: $parent.fielddef.popover -->
                    <info-popover params="slug:'popover_'+$parent.fielddef.popover"></info-popover>
                <!-- /ko -->

            </label>
        </div>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: fielddef.type=="text" -->
        <textarea class="form-control" rows="3" data-bind="textInput: value, css:{error:!isValid()}, attr: { tabindex:tabindex }"></textarea>
        <!-- /ko -->

        <!-- ko if: errors() != "" -->
        <!-- ko if:!useInlineErrors() --><small class="error-msg">{{{ errors }}}</small><!-- /ko -->
        <!-- ko if:useInlineErrors() --><span class="inlineerror" data-bind="popover: errors,placement:'top'"><i class="glyphicon glyphicon-warning-sign"></i></span><!-- /ko -->
        <!-- /ko -->
    </div>
<!-- /ko -->